@use '../../styles/partials/colors';
@use '../../styles/partials/mixins' as *;

.warehouse-inventory {
    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid colors.$secondary-borders;
    }

    &__link {
        text-decoration: none;
        color: colors.$primary-interactive;
        font-weight: 600;
    }

    &__edit {
        margin-left: 7.5rem;
        border-radius: 20px;
        height: 36px;
        width: 36px;
    }

    &__back {
        padding-top: 0.3rem;
    }
    &__title {
        font-family: "TitilliumWeb";
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
    }

    &__edit-text {
        display: none;
    }

    &__right-icon {
        padding-top: 0.5rem;
    }

    &__contact-container {
        display: flex;
        justify-content: center;
        padding-right: 2.5rem;
        padding-bottom: 1rem;
    }

    &__address-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 7rem;
    }

    &__address-header {
        color: #5C667E;
        font-weight: 600;
        font-size: 0.8rem;
        margin-bottom: 0rem;
        padding-right: 2rem;
    }

    &__address {
        font-size: 0.8rem;
        margin-top: 0.25rem;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__contact2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 1rem;
    }

    &__contact-header {
        color: #5C667E;
        font-weight: 600;
        font-size: 0.8rem;
        margin-bottom: 0rem;
    }

    &__contact-name {
        padding-right: 1.2rem;
        font-size: 0.8rem;
        margin: 0;
    }
    &__contact-position {
        padding-left: 1.5rem;
        font-size: 0.8rem;
        margin: 0;
    }
    &__contact-phone {
        font-size: 0.8rem;
        padding-right: 1.6rem;
        margin: 0;
    }
    &__contact-email {
        font-size: 0.8rem;
        padding-right: 1.6rem;
        margin: 0;
    }

    &__section-titles {
        display: none;
    }

    &__list {
        border-top: 1px solid colors.$secondary-borders;
    }

    &__inventory-container {
        display: flex;
        align-items: center;
        padding-right: 25vh;
    }

    &__link-text {
        margin: 0;
        font-size: 0.8rem;
    }

    &__status-text {
        margin: 0;
        font-size: 0.8rem;
    }

    &__category-text {
        margin: 0;
        font-size: 0.8rem;
    }

    &__mobile-header {
        margin: 0;
        color: #5C667E;
        font-weight: 600;
        font-size: 0.8rem;
    }

    &__item-status-container {
        display: flex;
        justify-content: center;
    }

    &__category-quantity-container {
        display: flex;
        justify-content: center;
    }

    &__category-container {
        padding-right: 25vh;
    }

    &__edit-delete-container {
        display: flex;
        justify-content: center;
    }
    &__delete-button {
        padding-right: 14rem;
    }

    @include tablet {
        &__edit {
            margin-left: 33rem;
            width: 81px;
            height: 38px;
        }

        &__edit-text {
            display: flex;
        }

        &__button-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__button {
            text-decoration: none;
            color: colors.$primary-interactive
        }

        &__contact-section {
            display: flex;
        }

        &__address-container {
            border-right: 1px solid colors.$secondary-borders;
            margin: 1rem 0 1rem 1rem;
        }

        &__contact-container {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        &__contact {
            padding-right: 2rem;
        }

        &__section-titles {
            display: flex;
            justify-content: space-around;
            font-family: "TitilliumWeb";
            font-weight: 600;
            color: colors.$secondary-header-placeholder;
            font-size: 0.8rem;
        }

        &__title-header {
            display: flex;
            align-items: center;
        }

        &__mobile-header {
            display: none;
        }

        &__link-text {
            display: none;
        }

        &__right-icon {
            display: none;
        }

        &__right-icon-tablet {
            padding-top: 0.5rem;
        }

        &__status-text {
            display: none;
        }

        &__category-text {
            display: none;
        }

        &__list-section {
            display: flex;
        }

        &__inventory-container {
            padding-left: 2.5rem;
            padding-right: 7rem;
        }
        &__category-container {
            padding-right: 0;
        }

        &__delete-button {
            padding-right:0;
            padding-top: 1rem;
        }

        &__category-text-tablet {
            margin-right: 5rem;
        }

        &__edit-button {
            padding-top: 1rem;
        }
        &__list {
            display: flex;
        }
    }
}