@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.modal {
    position: absolute;
    top: 1.5625rem;
    left: 1.25rem;
    right: 1.25rem;
    bottom: 1.25rem;
    background-color: $background-page;
    
        @include tablet {
            height: 6.25rem;
            width: 15.625rem;
        }
    
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-page;
  }

  .twoBtnContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 18.75rem;
  }
  .cancel-warehouse__button {
    width: 8rem;
    padding: 0.5rem, 3.1875rem;
    margin: 1.5rem 0.5rem;
    background-color: $primary-white;
    height: 2.25rem;
    border-radius: 1.25rem;
    border: 1px solid $secondary-borders;
  }

  
  .delete-warehouse__button {
    width: 8rem;
    padding: 0.5rem, 3.1875rem;
    margin: 1.5rem 0.5rem;
    background-color: $supporting-error;
    height: 2.25rem;
    border-radius: 1.25rem;
    border: 1px solid $secondary-borders;
  }

  .cross-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .cross {
    background-color: $background-page;
    border: none;
    

  }

 